.actor__list {
    padding: 16px;
    .actor_carousel {
      .actor_carousel-item {
        cursor: pointer;
        img {
          width: 100%;
          border-radius: 8px;
          height: auto;
          overflow: hidden;
        }
        p {
          color: white;
          font-size: 14px;
          margin-top: 12px;
          text-align: left;
        }
      }
    }
  }