.modal__trailer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 90;
    animation: OpenModal ease-in-out 0.5s;
    
    .modal__overplay{
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .modal__inner{
           
            width: 90%;
            height: 90%;
            iframe{
              width: 100%;
              height: 100%;
            }
            .modal__close{
                color: white;
                position: absolute;
                top: 10px;
                right: 12px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid white;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background-color: rgba(255,255,255,0.3);
                    box-shadow: 0 0 20px rgb(255 255 255 / 80%);
                }
            }
           
        }
    }
}

.trailer__avatar2{
    display: none;
    
}

@keyframes OpenModal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        
    }
}