.same__kind {
    padding: 16px;
    .item:nth-child(2){
      pointer-events: none;
      
    }
    .same_kind-link {
      position: relative;
      width: 100%;
      overflow: hidden;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(
          180.98deg,
          rgba(0, 0, 0, 0.0001) 46.65%,
          rgba(0, 0, 0, 0.432861) 69.31%,
          #000 103.88%
        );
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 8px;
        
      }
      &:hover {
        text-decoration: none;
      }
      img{
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
      .age {
        font-size: 10px;
        color: white;
        width: 26px;
        background-color: #ff0004;
        padding: 0px 4px;
        line-height: 15px;
        border-radius: 0 3px 3px 0;
        text-align: center;
        position: absolute;
        top: 5%;
        margin-bottom: 0px;
        z-index: 1;
      }
      .age--C16{
        background-color:#faa828 ;
      }

      .age--P{
        background-color: #03ca77;
      }
      .age--C13{
        background-color: #ee748a!important;
      }
      .label {
        font-size: 10px;
        color: white;
        position: absolute;
        bottom: 13%;
        left: 8px;
        margin-bottom: 4px;
        z-index: 1;
      }
      .imdb {
        color: #03ca77;
        font-size: 8px;
        position: absolute;
        bottom: 5%;
        left: 8px;
        z-index: 1;
      }
    }
    .same__kind-carousel{
      padding-bottom: 80px;
    }
  }