.section {
    background: $color-br;
    padding-bottom: $pd6;
    .nav-tabs {
        .nav-item {
            .nav-link {
                font-size: $fs-5;
                width: 100%;
                background: none;
                color: $color-grey-font;
            }

            .nav-link:hover {
                border: none;

            }

            .active {
                border: none;
                color: $color-blue-bt;
                font-weight: $fw5;
                border-color: none;
                outline: none;
                width: 100%;
                border-bottom: 2px solid $color-blue-bt !important;
            }

            .active:hover {
                outline: none;
            }

        }
    }

    .tab-content {
        .slick-prev, .slick-next{
            display: none !important;
        }
        .movie-class {

            .ds1 {
                
                .box-review-movie {
                    width: 100%;
                    position: relative;
                    height: 1000px;

                    .gr-1 {
                        position: absolute;
                        background: linear-gradient(180deg, rgba(0, 0, 0, .16) 29.59%, rgba(0, 0, 0, .88) 103.7%);
                        z-index: 10;
                        font-size: 30px;
                        font-weight: $fw5;

                        img {
                            opacity: .6;
                            z-index: 10;
                            border-radius: $bd;
                            width: 100%;
                            height: 1000px;

                        }
                    }

                    .gr-2 {
                        bottom: 0;
                        width: 100%;
                        position: absolute;
                        z-index: 30;
                        font-size: 30px;
                        font-weight: $fw5;

                        p {
                            margin: 0;
                        }

                        .title-gr2 {
                            font-size: $fs-2;
                            color: $color-white-font;
                        }

                        .time-gr2 {
                            font-size: $fs;
                            color: $color-grey-font;
                        }

                        .type-gr2 {
                            border-radius: $bd1;
                            padding: $pd1 $pd;
                            font-size: $fs;
                            color: $color-white-font;
                            background: $color-br-type;
                        }

                        .book-tickets {
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 16px;
                            color: #fff;
                            background: $color-blue-bt;
                            padding: $pd1 $pd2;
                            border-radius: $bd2;
                            border: none;

                            p {}
                        }
                    }
                }

            }
        }
    }

    .title-review-movie {
        color: $color-white-font;
        font-weight: $fw4;
    }

    .box-movie-can-watch {
        padding: $pd2 0;
        border-bottom: 4px solid $cl-bd-review-film;
        .movie-can-watch-left {
            width: $width-img-movie-can-watch;
            min-width: $width-img-movie-can-watch;
            height: $height-img-movie-can-watch;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .movie-can-watch-right {
            width: 100%;
            p{
                margin: 0;
            }
            .data-film {
                .data-film-left {
                    @include style_text($fs-1, $fw3, $color-white-font);
                    @include style_button_category_film($color-br-type, $pd5, $pd, $bd1);
                }
                .data-film-right{
                    @include style_text($fs,$fw4,$color-blue-bt);
                }
            }
            .title_film{
                padding-top: $pd1;
                .name_film{
                    @include style_text($fs-2,$fw1,$color-white-font);
                }
                .category_film{
                    @include style_text($fs-1,$fw2,$color-grey-font);
                }
            }
            .time-film{
                display: flex;
                align-items: center;
                margin-top: auto;
                span{
                    @include style_text($fs-1,$fw1,$color-grey-font);
                }
            }
        }
    }
}