// font-size
$fs:10px;
$fs-1:10px;
$fs-2:15px;
$fs-3:20px;
$fs-4:30px;
// font-weight
$fw1:300;
$fw2:400;
$fw3:500;
$fw4:700;
$fw5:900;
// color
$color-blue-bt:#007aff;
$color-grey-font:#ccd2d8;
$color-br:#001932;
$color-bd-top-tabbar:#212f50;
